<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Demo</title>
  <link rel="icon" href="{{ url_for('static', filename='img/wise4051.ico') }}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Josefin Sans', sans-serif;
    }
  </style>

</head>

<body>

</body>

</html>

<!--bootstap CDN-->

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

<div class="jumbotron">
  <h1 class="dispaly-4">AIFS Demo</h1>
  <p class="lead">Bootstrap is the most popular HTML, CSS...</p>
  <button type="button" class="btn btn-info">know more</button>

  <body>
    <form method="post">
      <p>
        <label for="name">
          <span>Name: </span>
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <input type="text" id="name" name="username">
      </p>
      <p>
        <label for="mail">
          <span>E-mail: </span>
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <input type="text" id="mail" name="usermail">
      </p>
      <p>
        <label for="pwd">
          <span>Password: </span>
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <input type="text" id="pwd" name="password">
      </p>
      <input type="submit" name="send" value="送出">
    </form>

    <div id="output"></div>
    <p class="output-statement">{{output}}</p>
</div>
</body>
<input type="button" onclick="history.back()" value="回到上一頁"></input>
<!--img id="wise-paas"style='height: 100%; width: 100%; object-fit: contain' src="/static/img/ensaas-4.0.png" alt="ensaas-4.0"-->
</div>

<footer class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item bg-light border-light"><a href="https://www.advantech.tw/">Advantech</a></li>
          <li class="list-group-item bg-light border-light"><a
              href="https://wise-paas.advantech.com/zh-tw/marketplace">WISE Marketpalce</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item bg-light border-light">當前網站採用 Bootstrap v4.3.1 版本, <a
              href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank"
              rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/"
              target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
        </ul>
      </div>
    </div>
</footer>